[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[user]
	name = Emile
	email = emile.swarts@digital.justice.gov.uk
[merge]
	tool = vimdiff
[core]
	editor = /usr/local/bin/nvim
	ignorecase = false
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	gdc = diff --cached
  in = log ..@{u}
  out = log @{u}..
  po = log @{u}..
[pull]
	rebase = true
[init]
	templatedir = ~/.git_template
[push]
	default = upstream
