[color]
  branch = auto
  diff = auto
  status = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[user]
	name = Emile
	email = emile.swarts123@gmail.com
[github]
    user = emileswarts
    token = 09988b3a47a256e113017deceebeb5f1
